@model IEnumerable<WardrobeAppMVC.Models.Outfit>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @*@Html.DisplayNameFor(model => model.Description)*@
            Outfit Name
        </th>
        <th>
            @*@Html.DisplayNameFor(model => model.WardrobeItem.Description)*@
            Top
        </th>
        <th>
            @*@Html.DisplayNameFor(model => model.WardrobeItem1.Description)*@
            Bottom
        </th>
        <th>
            @*@Html.DisplayNameFor(model => model.WardrobeItem2.Description)*@
            Shoes
        </th>
        <th>
            @*@Html.DisplayNameFor(model => model.WardrobeItem3.Description)*@
            Accessory
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Description)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.WardrobeItem.Description)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.WardrobeItem1.Description)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.WardrobeItem2.Description)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.WardrobeItem3.Description)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.OutfitID }) |
            @Html.ActionLink("Details", "Details", new { id=item.OutfitID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.OutfitID })
        </td>
    </tr>
}

</table>
